{% load static%}
<style>
    .rowfoot{
        text-align: center;
        align-items: center;
    }
</style>
   <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

        <!-- <link rel="stylesheet" href="css/icon-font.css"> -->
        <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'myapp/img/favicon.png' %}">
<footer class="footer">
            <div class="footer__logo-box u-center-text">
                <img srcset="{% static 'myapp/img/logo-white.png' %} 1x, {% static 'myapp/img/logo-white.png' %} 2x" alt="Logo" class="footer__logo">
            </div>
            <div class="rowfoot">
                <div class="col-2-of-3">
                    <div class="footer__nav">
                        <ul>
                            <li class="footer__item"><a href="#" class="footer__link">Company</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Careers</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Privacy policy</a></li>
                            <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                        </ul>
                    </div>
                </div>
{#                <div class="col-1-of-2">#}
{#                    <p class="footer__copyright">#}
{#                        Built by <a href="#" class="footer__link">JONAS SCHMEDTMANN</a> for his online course <a href="#" class="footer__link">ADVANCED CSS AND SASS</a>. Copyright © by Jonas Schmedtmann. You are 100% allowed to use this webpage for both personal and commercial use, but NOT to claim it as your own design. A credit to the original author, Jonas Schmedtmann, is of course highly appreciated!#}
{#                    </p>#}
{#                </div>#}
            </div>

        </footer>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="{% static 'myapp/index.js' %}"></script>