{% include 'myapp/header.html' %}
{#{% include 'myapp/navigator.html' %}#}
<body>
{% block content %}
     <section class="section-book" id="book">
                <div class="row">
                    <div class="book">
                        <div class="book__form">
                            <form action="#" class="form">
                                {% csrf_token %}
                                <h2 class="heading-secondary u-padding-bottom-medium">
                                    Forgot Password
                                </h2>

                                    <div class="form__group">
                                         <input type="email" class="form__input" placeholder="Email" id="name" required>
                                         <label for="name" class="form__label">Email</label>
                                     </div>
                                    <div class="form__radio-group">
                                        <button class="btn btn--greenfill">Reset &rarr;</button>
                                    </div>
                            </form>
                             </div>
                    </div>
                </div>
     </section>

{#    <form class="" method="post">#}
{#    {% csrf_token %}#}
{#    <div class="form-group">#}
{#      <label for="email">Email:</label>#}
{#      <input type="email" name="email" class="form-control" required>#}
{##}
{#    </div>#}
{#        <button type="submit" class="btn btn-primary">Reset password</button>#}
{#  </form>#}
{% endblock %}
</body>
{% include 'myapp/footer.html' %}