{% load static %}
{% include 'myapp/header.html' %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<section class="section-stories" id="stories">
    <div class="bg-video">
        <video class="bg-video__content" autoplay muted loop>
            <source src="{% static 'myapp/img/video.mp4' %}" type="video/mp4">  <!--test 1st source -->
            <source src="{% static 'myapp/img/video.webm' %}" type="video/webm"> <!--test 2nd source -->
            Your browser is not supported! <!--error if non of the above supported -->
        </video>
    </div>

    <div class="row u-center-text">
        <h2 class="heading-secondary">
            Checkout
        </h2>
    </div>

    <div class="row">
        <div class="story">
            <div class="story__text">
                <h3 class="heading3 u-padding-bottom-small"> Event:{{ name }}</h3>
                <p>Ticket size:{{ ticket_size }}</p>
                <p>Total to be paid: ${{ amount }}CAD</p>
                <p>Organised By:{{ user }}</p>
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </div>
    {% include 'myapp/footer.html' %}

</section>

{#<h2>Event:{{ name }}</h2>#}
{#<p>Ticket size:{{ ticket_size }}</p>#}
{#<p>Total to be paid: ${{ amount }}CAD</p>#}
{#<p>Organised By:{{ user }}</p>#}
{#                     <p>Event Date:{{ event.event_date }}</p>#}
<!-- PAYPAL BUTTONS HERE  -->

<div id="paypal-button-container"></div>

<!-- Include the PayPal JavaScript SDK -->
<script
        src="https://www.paypal.com/sdk/js?client-id=AYPbqUjODcwk7s9cJW_wKnCyuo8M3gdG6mVVP83WLHqr45NdB1M5fZcduZSBsT6a8GnCGNnJc9vjGyMT&currency=CAD">
</script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ amount }}'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (details) {
                // Show a success message to the buyer
                alert('Transaction completed by ' + details.payer.name
                    .given_name + '!');
                window.location.href = "{% url 'myapp1:generatepdf' event_id %}";
            });
        }


    }).render('#paypal-button-container');
</script>

</body>